name: Copybara
on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main
jobs:
  move-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: olivr/copybara-action@v1.2.3
        with:
          ssh_key: ${{ secrets.SSH_KEY }}
          access_token: ${{ secrets.ACCESS_TOKEN }}
          sot_repo: 100mslive/web-sdks
          sot_branch: sync-web-app
          destination_repo: 100mslive/100ms-web
          push_include: "apps/100ms-web/**"
          pr_move: |
            ||apps/100ms-web
